@{
    Html.AppendStyle("~/css/animate.css");
    Html.AppendStyle("~/css/owl.theme.default.css");
    Html.AppendStyle("~/css/owl.carousel.css");
    Html.AppendStyle("~/css/font-awesome.min.css");
    Html.AppendStyle("~/css/bootstrap.min.css");
    Html.AppendStyle("~/css/jquery-ui.css");

    Html.AppendScript(ResourceLocation.Footer, "~/scripts/owl.carousel.js");
    Html.AppendScript(ResourceLocation.Footer, "~/scripts/easing.js");
    Html.AppendScript(ResourceLocation.Footer, "~/scripts/isotope.min.js");
    Html.AppendScript(ResourceLocation.Footer, "~/scripts/bootstrap.min.js");
    Html.AppendScript(ResourceLocation.Footer, "~/scripts/popper.js");
    Html.AppendScript(ResourceLocation.Footer, "~/scripts/jquery-ui.js");
    Html.AppendScript("~/scripts/jquery-3.2.1.min.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Html.RenderTitle()</title>
    <meta name="description" content="@Html.RenderMetaDescription()" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.RenderStyles(this.Url)
    @Html.RenderScripts(this.Url, ResourceLocation.Head)
</head>
<body>
    <div class="super_container">
        @await Component.InvokeAsync("Header")
        @await Component.InvokeAsync("TopMenu")
        @RenderBody()
        @await Component.InvokeAsync("NewsletterBox")
        @await Component.InvokeAsync("Footer")
    </div>
    @Html.RenderScripts(this.Url, ResourceLocation.Footer)
</body>
</html>